PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=matcha
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=15m

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

FRONTEND_URL=http://localhost:5173